<div class="table-responsive">
    <caption>First Year</caption>
    <table class="table table-sm small">
        <thead>
            <th>Code</th>
            {{!-- <th>Title</th>
            <th>Units</th>
            <th>Prerequisite</th> --}}
            <th>Grade</th>
        </thead>
        <tbody>
            <tr>
                <td>ENG01</td>
                {{!-- <td>Purposive Communication</td>
                <td>3</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>MATH01</td>
                {{!-- <td>Mathematics in the Modern World</td>
                <td>3</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>FIL-01</td>
                {{!-- <td class="text-nowrap">Komunikasyon sa Akademikong Filipino</td>
                <td>3</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>SOFAPP</td>
                {{!-- <td>Office Application Software</td>
                <td>4</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>PHYE001</td>
                {{!-- <td>Physical Fitness</td>
                <td>2</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>NSTP-1</td>
                {{!-- <td>National Service Traning Program 1</td>
                <td>3</td>
                <td>None</td> --}}
                <td></td>
            </tr>
            <tr>
                <td>PRECAL</td>
                {{!-- <td>Pre-Calculus</td>
                <td>3</td>
                <td>None</td> --}}
                <td></td>
            </tr>
        </tbody>
    </table>
</div>