<button type='button' class='btn btn-sm btn-success bg-gradient' data-bs-toggle='modal' data-bs-target='#importGradeModal'>
    <i class='bi bi-upload'></i>
</button>

<div class='modal fade' id='importGradeModal' tabindex='-1' aria-labelledby='importGradeModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body bg-dark text-white'>
        <form id='importGradeForm'>
            <div class='input-group'>
                <input type='file' class='form-control form-control-sm bg-transparent text-white' id='file' required>
                <button type='submit' class='btn btn-sm btn-primary'>Upload</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>