/* #studentList > li {
    display: none;
    cursor: pointer;
} */

/* body {
    background-color: #10111e;
} */

#studentList > a {
    display: none;
    color: "black";
}

#studentList > a:hover{
    background-color: blue;
    color: "white";
}

/* select forms after the .subjectBtn */
.subjectBtn + form {
    display: none;
}

.border-radius-0 { border-radius: 0; }

.logo {
    width: 20rem;
}